.content {
    padding: 2rem;
    .container-button-cadastro {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        button {
            background-color: aquamarine;
            border: 1px solid;
            border-radius: 24px;
            padding: 8px;
            font-size: 1rem;
            width: 100%;
        }
    }
    .container-lista {
        border-left: 1px solid gray;
        border-right: 1px solid gray;
        font: 1rem;
    }
}